<html>
<head>
</head>
<style>
.adding {
  height:50px;
  width:200px;
}
table {
  margin:auto;
  border:1px solid black;
}
#back {
  position: absolute;
  right:5px;
  top:5px;
  width:50px;
  height:50px;
}
</style>
<body>
  <form action='/home' method="POST">
    <input id='back' type="submit" name="submit" value="home"/>
  </form>
<div id="main" style='text-align:center'>
<p>Add some cards!</p>
<p>We bouta get this _____</p>

<form action='/newQuestion' method="POST">
  <input class='adding' type="textarea" name="question" placeholder="remember to leave a blank!"/>
  <input type="submit" name="submit"/>
</form>

<form action='/newAnswer' method="POST">
  <input class='adding' type="textarea" name="answer" placeholder="we all know the answer :/"/>
  <input type="submit" name="submit"/>
</form>
<table>
  <tr>
    <td><strong>Questions</strong></td>
    <td><strong>Answers</strong></td>
  </tr>
  <% if(questions.length>answers.length) {%>
    <% for(var i = 0; i<questions.length;i++) { %>
      <tr>
        <td><%= questions[i].question %></td>
        <% if(i < answers.length) { %>
          <td><%= answers[i].answer %></td>
        <% } %>
      </tr>
    <% } %>
  <% } else { %>
    <% for(var i = 0; i<answers.length;i++) { %>
      <tr>
        <td><%= answers[i].answer %></td>
        <% if(i < questions.length) { %>
          <td><%= questions[i].question %></td>
        <% } %>
      </tr>
    <% } %>
  <% } %>
</table>
</div>
</body>
</html>
