<html>
  <head>
    <style>
      .sideview {
        position:static;
        left:10px;
        top: 10px;
      }
    </style>

  </head>
  <body>
    <div class='sideview'><%= name %></div>
    <form action='/logout' method="POST">
      <input class='sideview' type="submit" name="submit" value="logout"/>
      <input style='display:none' type="textarea" name="name" readonly="false" value="<%= name %>"/>
    </form>
    <form action='/restart' method="POST">
      <input class='sideview' type="submit" name = "submit" value="restart"/>
    </form>
  </body>
</html>
