<html>
  <head></head>
  <body>
    <div class='main' style='width:auto;padding:2%'>
      <div class='form' style='text-align:center'>
        <h1>Cards With Cru</h1>
        <form action='/api/startGame' method="POST">
          <input style='background-color:black;color:white;outline:none' type="submit" name="submit" value="Start Game"/>
        </form>
        <form action='/api/addCards' method="POST">
          <input style='background-color:black;color:white;outline:none' type="submit" name="submit" value="Add Cards"/>
        </form>
      </div>
    </div>
  </body>
</html>
